GRPC_SERVER_URL=0.0.0.0:5000

HTTP_SERVER_URL=0.0.0.0:4000
HTTP_SHUTDOWN_TIMEOUT=5s

DATABASE_DSN=postgres://postgres:password@localhost:5432/boilerplate?sslmode=disable
DATABASE_DRIVER=postgres
DATABASE_POOL_MAX_IDLE=10
DATABASE_POOL_MAX_OPEN=100
DATABASE_POOL_MAX_LIFETIME=1h

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=""
REDIS_DB=0
REDIS_DIAL_TIMEOUT=5s
REDIS_READ_TIMEOUT=3s
REDIS_WRITE_TIMEOUT=3s
REDIS_POOL_SIZE=20
REDIS_MIN_IDLE_CONNECTIONS=5

METRICS_ENABLE_DEFAULT_METRICS=true

TRACING_SERVICE_NAME=go-microservice-boilerplate
TRACING_COLLECTOR_URL=localhost:4318
TRACING_SHUTDOWN_TIMEOUT=5s
